{% extends 'theblog/base.html' %}

{% block content %}
{% if category_posts %}
<h3>{{cats}}
</h3>
<ul>
    {% for post in category_posts %}
    <li>
        <a href="{% url 'article_detail' post.pk%}">{{ post.title }}</a>
        - {{ post.author.first_name }}
        {{ post.author.last_name }}
        - {{ post.post_date }}
        {% if user.is_authenticated %}
        -<small>
            <a href="{% url 'update_post' post.pk %}">Edit</a>
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
        </small>
        {% endif %}
        <br />
        {{ post.body|slice:":200"|safe}}
    </li>
    {% endfor %}
</ul>
{% else %}
<h2>Sorry this page does not exist</h2>
{% endif %}
{% endblock %}