{% extends 'theblog/base.html' %}
{% load static %}
{% block content %}
<h1>User Profile</h1>
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            {% if page_user.profile_pic %}
            <img src="{{page_user.profile_pic.url}}" class="card-img">
            {% else %}
            <img src="{% static 'theblog/images/default_profile.png' %}" class="card-img">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <!-- needs user because first_name is on original user model -->
                <h5 class="card-title">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h5>

                <p class="small text-muted">
                    {% if page_user.website_url %}
                    |
                    <a href="{{ page_user.website_url }}">website</a>
                    {% endif %}
                    {% if page_user.facebook_url %}
                    | <a href=" {{ page_user.facebook_url }}">facebook</a>
                    {% endif %}
                    {% if page_user.twitter_url %}
                    | <a href="{{ page_user.twitter_url }}">twitter</a>
                    {% endif %}
                </p>
                <p class="card-text">{{ page_user.bio }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}